<div class="menu-container">
    <div class="menu">
        <a [routerLink]="['Contacts']">
            <div class="item" hoverBlurr>
               <span><i class="fa fa-home"></i> HOME</span>
            </div>
        </a>
        <a>
            <div class="item" hoverBlurr>
               <span><i class="fa fa-sticky-note"></i> TODOS</span>
            </div>
        </a>
        <a>
            <div class="item" hoverBlurr>
                <span><i class="fa fa-calendar"></i> SCHEDULE</span>
            </div>
        </a>
        <a>
            <div class="item" hoverBlurr>
                <span><i class="fa fa-th-list"></i> MISC</span>
            </div>
        </a>
    </div>
</div>